
html, body{
    max-width:100%;
   
    margin:0;
    background-size:cover;

    height:100%;
}
.Intro
{
    background-image:url("./images/backgroundsc.jpg");
  
  background-size:cover;
  height:100vh;
  padding-top:100px;
     background-position:center center;
     background-repeat:no-repeat;
  
  display:flex;
  justify-content:center;
  align-items:center;
  padding-bottom:100px;
  color:white;
}







.contact
{
    height:100vh;
    background-image:url("./images/Contact.jpg");




    padding-top:100px;
  
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
   display:flex;
    justify-content:center;
    align-items:center;
   
}



.card
{
    box-shadow:5px 5px 5px black;
}





.modal,body.modal-open {
    padding-right: 0!important
}

body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}

.modal-footer {
	display: flex;
	justify-content: flex-start;
	
}
.modal-footer.btn{
    display:flex;
    justify-content: flex-start;
    position:absolute;
    right:10px;
}


